<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
        <center >
            <h1> Lectures</h1>
        </center>
        <br>

        <% @lectures.each do |lecture| %>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <%= image_tag lecture.image %>
                <div class="caption">
                    <p><%= lecture.title %></p>
                    <p>
                        <%= link_to'Show' , lecture,class: "fa fa-eye" %>
                        <%  if current_user.is_instructor %>
                        <% if lecture.user.id==current_user.id %>
                        <%= link_to 'Edit', edit_lecture_path(lecture),class: "fa fa-pencil" %>
                        <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' },class: "fa fa-trash-o"  %></td>
                    <% end %>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
    <% end %>
</div>
<br>

<%  if current_user.is_instructor %>

<%= link_to 'New Lecture', new_lecture_path,class: "btn btn-success"  %>
<% end %>
</div>
