

<div class="container" style="margin: 0 auto;">
    <p id="notice"><%= notice %></p>
            <div class="row">
                <!-- Blog Post -->
                <div class="col-sm-8">
                    <div class="blog-post blog-single-post">
                        <div class="single-post-title">
                            <center>
                            <h2><%= @lecture.title %></h2>
                        </center>
                        </div>

                        <div class="single-post-image">
                            <%= image_tag @lecture.image, :size => "600x400" %>
                        </div>
                        <div class="single-post-info">

                            <strong>Created by:</strong><%= @lecture.try(:user).try(:name) %>
                             <br>

                               <strong>Course:</strong>
                               <%= @lecture.try(:course).try(:title) %>
                             <br>
                            <%= link_to like_lecture_path(@lecture), method: :put do %>
                              Like
                              <%= @lecture.get_upvotes.size %>
                            <% end %>
                            <%= link_to dislike_lecture_path(@lecture), method: :put do %>
                              dislike
                              <%= @lecture.get_downvotes.size %>
                            <% end %>

                        </div>
                        <div class="single-post-content">
                              <%=  raw @lecture.content %>
                              <p>
                                <strong>Attachement:</strong>
                                <%= link_to 'Download', @lecture.attachement.url %>

                              </p>

                        </div>

                        <%= render 'comments/comment' %>
                        <%= link_to 'Edit', edit_lecture_path(@lecture) %> |
                        <%= link_to 'Back', lectures_path %>
                    </div>

                </div>
            </div>
        </div>
