<div class="container" style="width:40%; margin-top:60px;">
<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group">
  <span class="input-group-addon">Add Title</span>
      <%= f.text_field :title, autofocus: true,class: "form-control",placeholder: "Title" %>
  </div>

  <span class="help-block"></span>

<%= f.submit "Add Course",class: "btn btn-lg btn-success btn-block log" %>
<% end %>
</div>
